<div class='container'>
  <div class='category'>
    <h1 class='main-head'>Categories</h1>
    <div class='btn'>
      <p class='sub-title'>View All Categories</p>
    </div>

  </div>
  <div class='category-img'>
    <div class='breakfast meal'>
      <img src="assets/images/breakfast.png" alt="breakfast">
      <p class='sub-title'>Breakfast</p>
    </div>
    <div class='vegan  meal'>
        <img src="assets/images/vegan.png" alt="vegan">
      <p class='sub-title'>Vegan</p>
    </div>
    <div class='meat meal'>
        <img src="assets/images/meat.png" alt="meat">
      <p class='sub-title'>Meat</p>
    </div>
    <div class='desert meal'>
        <img src="assets/images/desert.png" alt="desert">
      <p class='sub-title'>Desert</p>
    </div>
    <div class='lunch meal'>
      <img src="assets/images/lunch.png" alt="lunch">
      <p class='sub-title'>Lunch</p>
    </div>
    <div class='chocolate meal'>
      <img src="assets/images/chocolate.png" alt="">
      <p class='sub-title'>Chocolate</p>
    </div>

  </div>


</div>
