<section class='background'>
    <div class='container'>
    <div class='checkout-main'>
        <div class='checkout-conent'>
            <p class='checkout-para1'>Check out @foodieland on Instagram</p>
            <p class='checkout-para2'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
        </div>
        <div class='checkout-img'>
            <img  src="assets/images/post.png" alt="post">
            <img  src="assets/images/post2.png" alt="post2">
            <img  src="assets/images/post3.png" alt="post3">
            <img  src="assets/images/post4.png" alt="post4">
        
        </div>
        <div class='checkout-btn'>
            <a href='#' class='checkout-text'>Visit Our Instagram <span class='insta'><i class="fa-brands fa-instagram"></i></span></a>
           
        </div>
    </div>
  
</div>
  </section>
