<section class='inbox'>
    <div class='container'>
        <div class='s-card'>
            <div class='inbox-content'>
                <p class='inbox-main'>Deliciousness to your inbox</p>
                <p class='inbox-submain'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
                <form action="/action_page.php" class='email'>
                <input type="email" id="emails" name="emails" placeholder='Your email address...'  class='email-add'/>
                <a href='mailto:abc@example.com' target='_blank' class='inner-btn'>Subscribe</a>
                </form>
            </div>
            <div class='inbox-left'>
                <img src="assets/images/bg1.png" alt="bg1" class="b-img">
        
        </div>
        
        </div>
        
    </div>
</section>
