<section class='items'>
  <div class='container'>
    <div class='gallery-content'>
      <div class='gallery-main'>
        <p class='delicious'>
          Try this delicious recipe to make your day
        </p>
        <p class='subline'>
          Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqut enim ad minim
        </p>
      </div>
      <div class='item'>
        <div class='item-row'>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/fruitsalad.png" alt="fruitsalad" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Mixed Tropical Fruit Salad with Superfood Boosts </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Healthy</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/beef.png" alt="beef" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Big and Juicy Wagyu Beef Cheeseburger </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Western</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/rice.png" alt="rice" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Healthy Japanese Fried Rice with Asparagus </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Healthy</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/taco.png" alt="taco" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Cauliflower Walnut Vegetarian Taco Meat </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Eastern</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/mustard.png" alt="mustard" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Rainbow Chicken Salad with Almond Honey Mustard Dressing </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Healthy</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/barbeque.png" alt="barbeque" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Barbeque Spicy Sandwiches with Chips </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Snack</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/spicy.png" alt="spicy" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Firecracker Vegan Lettuce Wraps - Spicy! </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Seafood</span>
              </div>
            </div>
          </div>
          <div class='item-col'>
            <div class='item-block'>
              <div class='gal-main'>
                <img src="assets/images/mushroom.png" alt="mushroom" class="f-img">
                <div class="circle"></div>
                <div class="heart">
                  <i class="likes fa-solid fa-heart"></i>
                </div>

              </div>

              <p class='i-text'>Chicken Ramen Soup with Mushroom </p>
              <div class='icons'>
                <span class='watch'>
                  <i class="fa-solid fa-clock"></i>
                </span>

                <span class='icon-subtext'>30 Minutes</span>
                <span class="utensil">
                  <i class="fa-solid fa-utensils"></i>
                </span>
                <span class='icon-subtext'>Japanese</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
