<div class="container">

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class='hero'>
        <div class='left'>
          <div class='hero-content'>
            <p class='first-text'>
              <img src="assets/images/first.png" alt="first" class="i-img">Hot recipe</p>
            <h1 class='main-content'>Spicy delicious chicken wings</h1>
            <p class='subcontent'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt
              ut
              labore et dolore magna aliqut enim ad minim </p>
          </div>
          <div class='hero-icon'>
            <div class='icon1'>
              <span class='watch '>
                <i class="fa-solid fa-clock"></i>
              </span>
              <span class='icon-subtext'>30 Minutes</span>
            </div>
            <div class='icon2'>
              <span>
                <i class="fa-solid fa-utensils"></i>
              </span>
              <span class='icon-subtext'>Chicken</span>
            </div>
          </div>
          <div class='person'>
            <div class='john-img'>
              <img src="assets/images/john.png" alt="john" class="p-img">
            </div>
            <div class='detail'>
              <p class='name'>John Smithe</p>
              <p class='date'>15 March 2022</p>
            </div>
            <div class='view-btn'>
              <a href='#' class='view-text'>View Recipes
                <img src="assets/images/play.png" alt="play" class="i-img"></a>
            </div>
          </div>
        </div>
        <div class='right'>
          <img src="assets/images/main.png" alt="main" class="fi-img">
        </div>
        <div class="badge">
          <img src="assets/images/badge.png" alt="badge" class="b-img">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class='hero'>
        <div class='left'>
          <div class='hero-content'>
            <p class='first-text'>
              <img src="assets/images/first.png" alt="first" class="i-img">Hot recipe</p>
            <h1 class='main-content'>Spicy delicious chicken wings</h1>
            <p class='subcontent'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt
              ut
              labore et dolore magna aliqut enim ad minim </p>
          </div>
          <div class='hero-icon'>
            <div class='icon1'>
              <span class='watch'>
                <i class="fa-solid fa-clock"></i>
              </span>
              <span class='icon-subtext'>30 Minutes</span>
            </div>
            <div class='icon2'>
              <span>
                <i class="fa-solid fa-utensils"></i>
              </span>
              <span class='icon-subtext'>Chicken</span>
            </div>
          </div>
          <div class='person'>
            <div class='john-img'>
              <img src="assets/images/john.png" alt="john" class="p-img">
            </div>
            <div class='detail'>
              <p class='name'>John Smithe</p>
              <p class='date'>15 March 2022</p>
            </div>
            <div class='view-btn'>
              <a href='#' class='view-text'>View Recipes
                <img src="assets/images/play.png" alt="play" class="i-img"></a>
            </div>
          </div>
        </div>
        <div class='right'>
          <img src="assets/images/main.png" alt="main" class="fi-img">
        </div>
        <div class="badge">
          <img src="assets/images/badge.png" alt="badge" class="b-img">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class='hero'>
        <div class='left'>
          <div class='hero-content'>
            <p class='first-text'>
              <img src="assets/images/first.png" alt="first" class="i-img">Hot recipe</p>
            <h1 class='main-content'>Spicy delicious chicken wings</h1>
            <p class='subcontent'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt
              ut
              labore et dolore magna aliqut enim ad minim </p>
          </div>
          <div class='hero-icon'>
            <div class='icon1'>
              <span class='watch'>
                <i class="fa-solid fa-clock"></i>
              </span>
              <span class='icon-subtext'>30 Minutes</span>
            </div>
            <div class='icon2'>
              <span>
                <i class="fa-solid fa-utensils"></i>
              </span>
              <span class='icon-subtext'>Chicken</span>
            </div>
          </div>
          <div class='person'>
            <div class='john-img'>
              <img src="assets/images/john.png" alt="john" class="p-img">
            </div>
            <div class='detail'>
              <p class='name'>John Smithe</p>
              <p class='date'>15 March 2022</p>
            </div>
            <div class='view-btn'>
              <a href='#' class='view-text'>View Recipes
                <img src="assets/images/play.png" alt="play" class="i-img"></a>
            </div>
          </div>
        </div>
        <div class='right'>
          <img src="assets/images/main.png" alt="main" class="fi-img">
        </div>
        <div class="badge">
          <img src="assets/images/badge.png" alt="badge" class="b-img">
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

</div>
