<div class='container'>
  <div class='recipe-main'>
    <h1 class='recipe-title'>Simple and tasty recipes</h1>
    <p class='recipe-subtitle'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqut enim ad minim </p>
  </div>
  <div class='unique '>
    <div class='img one'>
      <div class='main-img'>
        <img src="assets/images/cheeseburger.png" alt="cheeseburger" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>
      <p class='icon-text'>Big and Juicy Wagyu Beef Cheeseburger</p>
      <div class='icons'>
        <span class='watch'>
          <i class="fa-solid fa-clock"></i>
        </span>

        <span class='icon-subtext'>30 Minutes</span>
        <span>
          <i class="fa-solid fa-utensils"></i>
        </span>
        <span class='icon-subtext'>Snack</span>
      </div>
    </div>

    <div class='img one'>
      <div class='main-img'>
        <img src="assets/images/ginger.png" alt="ginger" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>
      <p class='icon-text'>Fresh Lime Roasted Salmon with Ginger Sauce</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Fish</span>
      </div>
    </div>
    <div class='img one'>
      <div class='main-img'>
        <img src="assets/images/honey.png" alt="honey" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>
      <p class='icon-text'>Strawberry Oatmeal Pancake with Honey Syrup</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Breakfast</span>
      </div>
    </div>
    <div class='img two'>
      <div class='main-img'>
        <img src="assets/images/salad.png" alt="salad" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>

      <p class='icon-text'>Fresh and Healthy Mixed Mayonnaise Salad</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Healthy</span>
      </div>
    </div>
    <div class='img two'>
      <div class='main-img'>
        <img src="assets/images/meatballs.png" alt="meatballs" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>

      <p class='icon-text'>Chicken Meatballs with Cream Cheese</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Meat</span>
      </div>
    </div>
    <div class='img two add'>
      <div class='main-img'>
        <img src="assets/images/ads.png" alt="ads" class="g-img add">
        
      </div>

    </div>
    <div class='img three'>
      <div class='main-img'>
        <img src="assets/images/pancake.png" alt="pancake" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>

      <p class='icon-text'>Fruity Pancake with Orange & Blueberry</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Sweet</span>
      </div>
    </div>
    <div class='img three'>
      <div class='main-img'>
        <img src="assets/images/chicken.png" alt="chicken" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>

      <p class='icon-text'>The Best Easy One Pot Chicken and Rice</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Snack</span>
      </div>
    </div>
    <div class='img three'>
      <div class='main-img'>
        <img src="assets/images/pasta.png" alt="pasta" class="g-img">
        <div class="circle"></div>
        <div class="heart">
          <i class="likes fa-solid fa-heart"></i>
        </div>
      </div>

      <p class='icon-text'>The Creamiest Creamy Chicken and Bacon Pasta</p>
      <div class='icons'>
        <i class="fa-solid fa-clock"></i>
        <span class='icon-subtext'>30 Minutes</span>
        <i class="fa-solid fa-utensils"></i>
        <span class='icon-subtext'>Noodles</span>
      </div>
    </div>

  </div>
</div>
